{
    "initial_path": '',
    "languages": [
        "pob", 
        "por"
    ], 
    "last_download_date": "10171006", 
    "password": "", 
    "today_download_count": 0, 
    "username": ""
}